<div class="container mt-3">
  <h1>Liste des produits</h1>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let produit of produits">
      <div class="card">
        <img [src]="produit.image" class="card-img-top" alt="Image du produit">
        <div class="card-body">
          <h5 class="card-title">{{ produit.titre }}</h5>
          <p class="card-text">{{ produit.description }}</p>
          <p>
            Prix : <strong>{{ produit.prix | currency:'EUR':'symbol':'1.2-2' }}</strong>
          </p>
          <button class="btn btn-primary" [routerLink]="['/produit', produit.id]">
            Voir détails
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
