<div class="container mt-3">
  <h2>Inscription</h2>

  <form [formGroup]="formInscription" (ngSubmit)="sInscrire()">
    <div class="mb-3">
      <label for="nomUtilisateur" class="form-label">Nom d'utilisateur</label>
      <input type="text" id="nomUtilisateur" class="form-control" formControlName="nomUtilisateur" />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Adresse e-mail</label>
      <input type="email" id="email" class="form-control" formControlName="email" />
    </div>

    <div class="mb-3">
      <label for="motDePasse" class="form-label">Mot de passe</label>
      <input type="password" id="motDePasse" class="form-control" formControlName="motDePasse" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formInscription.invalid">
      S'inscrire
    </button>
  </form>
</div>
